@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  color: white;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  color: black;
  border-bottom: 2px black solid;
}

header h3{
  font-weight: bolder;
  color: black;
}

header li {
  font-weight: bolder;
}

.cartWidget{
  display: flex;
  flex-direction: row;
}

.cartWidget p{
  color: red;
  font-weight: bold;
}

.joya{
  height: 200px;
  width: 250px;
}

.mouse{
  height: 50px;
  font-weight: bold;
  background-color: blue;
}

.itemListContainer{
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.itemList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.cardExtension{
  margin-top: 70px;
  justify-content: center;
  align-items: center;
}

.itemListDetail{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.backImg{
  background-color: grey;
}

.sectionTitle{
  color: black;
  font-weight: bolder;
}

.sectionTitle h2{
  font-size: 26px;
  margin-bottom: 15px;
}

.sectionTitle h4{
  font-size: 30px;
}


.sectionStock{
  color: black;
  font-weight: bold;
}

.sectionStock p{
  margin-bottom: 90px;
}

.sectionStock .buttton{
  margin-top: 10px;
}


.urlImg{
  height: 210px;
}

.urlImg2{
  height: 400px;
}

.itemCard{
  height: 400px;
  width: 290px;
  flex-wrap: wrap;
  margin: 5px;
}

.clickerSection{
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -70px;

}

.clickerSection .sectionCounter{
  display: flex;
  flex-direction: row;
  width: 150px;
  height: auto;
}

.clickerSection .sectionCounter .counter{
  width: 70px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}


.sectionCardDetail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-color: rgb(114, 114, 114);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 70px;
  height: 70px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #19d300; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  margin-top: -200px;
}

.titlesProducts{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: aliceblue;
  align-items: center;
  height: 50px;
}

.titlesProducts li{
  margin-left: 200px;
  font-weight: bolder;
}


.linea{
    border-top: 3px solid rgb(8, 8, 8);
    height: 2px;
    max-width: 900px;
}

.sectionCart{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sectionCart .sectionCartDetail{
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sectionCart .sectionCartDetail .productsCart{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(4, 4, 4);
  font-weight: bold;
  margin-top: 15px;
  align-items: center;
  margin-bottom: 15px;
}

.imgCartSize{
  width: 200px;
  height: 150px;
}

.priceDetail{
  margin-left: 80px;
  font-size: 20px;
}

.countTotal{
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 20px;
  text-align: right;
  color: black;
}

.sectionButton{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
  /* width: 70%; */
}

.buttonClear{
  width: 200px;
}

.buttonCheck{
  width: 200px;
  /* margin-left: 500px; */
  justify-content: end;
}


